NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_AGENTVAULT_ADDRESS=0x153875BF8E4d52e50907f3D065aA3bDa1Aa2648C
NEXT_PUBLIC_AGENTVAULT_SEPOLIA_ADDRESS=0x153875BF8E4d52e50907f3D065aA3bDa1Aa2648C
NEXT_PUBLIC_AGENTVAULT_ARBITRUM_ONE_ADDRESS=0x153875BF8E4d52e50907f3D065aA3bDa1Aa2648C
NEXT_PUBLIC_ARBITRUM_SEPOLIA_RPC_URL=https://api.zan.top/arb-sepolia
NEXT_PUBLIC_ARBITRUM_ONE_RPC_URL=https://arb1.arbitrum.io/rpc
NEXT_PUBLIC_AGENTVAULT_EVENT_START_BLOCK=272491833
NEXT_PUBLIC_AGENTVAULT_SEPOLIA_EVENT_START_BLOCK=272491833
NEXT_PUBLIC_AGENTVAULT_ARBITRUM_ONE_EVENT_START_BLOCK=469075606
ARBITRUM_SEPOLIA_RPC_URL=https://api.zan.top/arb-sepolia
ARBITRUM_ONE_RPC_URL=https://arb1.arbitrum.io/rpc
DEPLOYER_PRIVATE_KEY=
